<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=320px">
    <title>API Explorer</title>
    <link rel="stylesheet" type="text/css" href="page.css">
    <script type="text/javascript" src="js/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="js/jquery-textOverflow.js"></script>
    <script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="js/jquery.prettydate.js"></script>
    <script type="text/javascript" src="js/jquery.ba-hashchange.min.js"></script>
    <script type="text/javascript" src="js/prettyprint.js"></script>
    <script type="text/javascript" src="js/schema.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>
</head>

<body>

<script id="tmplAPIDoc" type="text/x-jquery-tmpl">
  <h2 class="api-title"><img src="${schema.icons.x16}"/> ${schema.title}</h2>
  <div class="api-description">${schema.description}</div>
</script>

<script id="tmplComponentList" type="text/x-jquery-tmpl">
  <li id="${name}" class="title">${name}
  <div class="component-description">{{html resource.description}}</div>
  </li>
</script>

<script id="tmplEndpointList" type="text/x-jquery-tmpl">
  <li id="${id}" class="title"><h3>${name}</h3>
  <div class="component-description">{{html resource.description}}</div>
  </li>
</script>

<script id="tmplAPICallDoc" type="text/x-jquery-tmpl">
  <h4>Request Parameters</h4>
  {{if api.parameters}}
    <table class="parameters"><colgroup><col/></colgroup><tbody>
    {{each(i, p) $item.getOrderedParameters()}}
      <tr>
        <td>${p[1].required?'*':''}${p[0]}</td>
          <td><div>
            {{if p[1].enum}}
              <select>
              {{each(i, e) p[1].enum}}
              <option value="${e}">${e}</option>
              {{/each}}
              </select>
            {{else}}
              <input id="${p[0]}" ${p[0] == 'password' ? "type=password" : ''} />
            {{/if}}
          </div>
        </td>
      </tr>
      <tr>
      <td/><td><span class="paramdoc">${p[1].description}</span> <span class="paramtype">(${p[1].type})</span></td>
      </tr>
    {{/each}}
    </tbody></table>
  {{else}}
    <div>There are no parameters for this call</div>
  {{/if}}
  
  <h4>Response</h4>
  {{if response}}
    <table class="responseObject"><colgroup><col/><col/></colgroup><tbody>
    <th colspan="3">${response.id} (${response.type})</th>
      {{each(i, p) response.properties}}
        <tr>
          <td>${i}</td><td>${p.type}</td><td>${p.description}</td>
        </tr>
      {{/each}}
    </tbody></table>
  {{else api.response}}
    <table class="responseObject"><colgroup><col/></colgroup><tbody>
      <tr>
        <td class="response-type">${api.response.type}</td>
        <td class="response-description">${api.response.description}</td>
      </tr>
    </tbody></table>
  {{else}}
    <div>There is no response to this call.</div>
  {{/if}}

  <h4>Test API call</h4>
  <button id="submitCall" data-for="${api.id}">submit</button>
</script>

<div id="wrapper">
    
    <div id="content">
        <!--<div data-role="toolbar" id="search">
            <div class="hbox">
                <input id="searchText" type="text" placeholder="search" class="boxFlex search">
                <button id="searchSubmit"><img src="i/search.png"></button>
            </div>
        </div>-->

      <div data-role="pages">
        <div data-role="page" id="components" class="primary clearfix boxFlex">
            <div data-role="header" class="apiinfo">
            </div>
            <ul id="endpointList">
            </ul>
        </div>

<!--
        <div data-role="page" id="endpoints" class="primary clearfix boxFlex ">
            <div data-role="header" class="hbox endpointinfo">
                <h1 class="boxFlex">component.endpoint</h1>
                <button class="nav home active" data-for="components"></button>
            </div>
            <ul id="endpointList">

            </ul>
        </div>
-->

        <div data-role="page" id="apicall" class="secondary clearfix boxFlex">
            <div data-role="header" class="hbox apicallinfo">
                <h3 class="boxFlex">component.endpoint.call</h3>
            </div>
            <div class="content">
            <div id="apiCallData"></div>
            <div id="apiResponseData"></div>
            </div>
        </div>

      </div>
    </div>
  
    <div data-role="toolbar" id="apptoolbar">
        <nav>
            <ul class="clearfix">
                <li class="labels" data-for="components"></li>
            </ul>
        </nav>
    </div>

    <div data-role="toolbar" id="msgtoolbar">
        <nav>
            <ul class="clearfix">
                <li class="back active"></li>
                <!--<li class="search off" data-for="search"></li>-->
            </ul>
        </nav>
    </div>
</div>

</body>
</html>